h1 {
    color: #d0db72 !important;
}
h2 {
    color: #929a3d !important;
}
h3 {
    color: #70f670 !important;
}
h4 {
    color: #afe8c5 !important;
}
h5 {
    color: #dbffdb !important;
}

code {
    color: #bfaacf !important;
    background-color: black !important;
}
